body {background-color: #FAF9F9
}
h1 {
  color: #555B6E;
  text-align: center;
}
h1 {
	font: <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">;
}
body {
	font: <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Tajawal:wght@300;400&family=Work+Sans&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">;
	color: #FFD6BA;
	font-size: 12pt;
}
table {
	font: <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Tajawal:wght@300;400&family=Work+Sans&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">;
	color: #FFD6BA;
}